head 
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
script(src="/javascripts/lib/jquery-2.1.1.min.js")
script(src="/javascripts/lib/bootstrap.min.js")
body
	h1= title
	p Welcome
	br
	div
		a(href='/picture') Taking Picture Module
	div
		a(href='/elasticsearch') ElasticSearch Module