head 
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
script(src="/javascripts/lib/jquery-2.1.1.min.js")
script(src="/javascripts/lib/bootstrap.min.js")
body
	h1= title
	p Welcome
	br
	div
		img(src='/images/image.png', width='640', height='480')